h3{
    /*colours in css*/
    color: rgb(213, 77, 104);
    color: hsl(213, 98%, 50%);
    /*background-color: rgb(10, 10, 8);*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;;
    font-style: oblique;
    font-stretch: extra-condensed;
    text-transform: capitalize;
    text-decoration: line-through;
    letter-spacing: .5em;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    
}
li{
   display: inline;
   margin:80px;
}
 body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
 }
 p{
   max-width: 1500px;
   border-radius: 10px;

    line-height: 1.5em;
    text-align:justify;
    text-indent: 100px;
    border-style: double;
    border-color: tomato;
    padding: 5px ;
 }
 a:visited{
    color: rgb(234, 4, 50);
 }
 a:link{
    color: blue;
    border: 1px solid black;
 }
 a:hover{
    color: black;
 }
 a:active{
    color: cadetblue;
 }
 